langchain
langchain-classic
langchain-community
fastapi
uvicorn
streamlit
langserve
langchain-core
langchain-ollama
langchain-text-splitters
chromadb
lancedb
faissdb
python-magic
python-magic-bin
dotenv
langchain-groq
-e .